<div data-ng-app="libraryApp">
	<div data-ng-controller="bookCtrl">
		<!-- <form data-ng-model="addAuthorFrm"> -->
		<label>Enter Book Titles: </label><input type="text" name="title"
			data-ng-model="title" autofocus /> <input type="button"
			value="Add Book" class="btn btn-sm btn-default"
			style="margin: 5px; width: 100px;" data-ng-click="addBook()" />

		<button class="btn btn-sm btn-danger"
			style="margin: 5px; width: 100px;"
			onclick="window.location.href='#/listBooks'">Cancel</button>


		<h3>Authors</h3>
		<nav>
			<select id="myselection" multiple="multiple"
				data-ng-model="myAuthors"
				data-ng-options="a.authorName for a in authors"></select>
			<div>Selected Authors: {{myAuthors}}</div>
		</nav>
	</div>
</div>