<div data-ng-app="libraryApp">
	<div data-ng-controller="bookCtrl">
		<!-- <form data-ng-model="addAuthorFrm"> -->
		<label>Enter Book Title: </label><input type="text" name="title"
			data-ng-model="title" autofocus /> <input type="button"
			value="Add Book" class="btn btn-sm btn-default"
			style="margin: 5px; width: 100px;" data-ng-click="addBook()" />

		<button class="btn btn-sm btn-danger"
			style="margin: 5px; width: 100px;"
			onclick="window.location.href='#/listBooks'">Cancel</button>

		<!-- </form> -->
	</div>
</div>