<div data-ng-app="libraryApp">
	<div data-ng-controller="authorCtrl">
		<label>Enter New Author Name: </label><input type="text"
			name="authorName" data-ng-model="author.authorName" autofocus>
		<input type="button" value="Edit Author"
			class="btn btn-sm btn-default" style="margin: 5px; width: 100px;"
			data-ng-click="editAuthor()" />
		<button class="btn btn-sm btn-danger"
			style="margin: 5px; width: 100px;"
			onclick="window.location.href='#/listAuthors'">Cancel</button>

		<h3>Books</h3>
		<nav>
			<select id="myselection" multiple="multiple"
				data-ng-model="author.books"
				data-ng-options="b.title for b in books"></select>
			<div>
				Selected Books:
				<li data-ng-repeat="book in author.books">{{book.title}}</li>
			</div>
		</nav>
	</div>


</div>