<div data-ng-app="libraryApp">
	<div data-ng-controller="bookCtrl">

		<label>Enter New Title: </label><input type="text" name="title"
			data-ng-model="book.title" autofocus> <input type="button"
			value="Edit Book" class="btn btn-sm btn-success"
			style="margin: 5px; width: 100px;" data-ng-click="editBook()" />
		<button class="btn btn-sm btn-danger"
			style="margin: 5px; width: 100px;"
			onclick="window.location.href='#/listBooks'">Cancel</button>

		<h3>Authors</h3>
		<nav>
			<select id="myselection" multiple="multiple"
				data-ng-model="book.authors"
				data-ng-options="a.authorName for a in authors"></select>
			<div>Selected Authors: {{book.authors}}</div>
		</nav>

		<h3>Genres</h3>
		<nav>
			<select id="myselection" multiple="multiple"
				data-ng-model="book.genres"
				data-ng-options="g.genreName for g in genres"></select>
			<div>Selected Genres: {{book.genres}}</div>
		</nav>

		<h3>Publisher</h3>
		<nav>
			<select id="myselection" data-ng-model="book.publisher"
				data-ng-options="p.publisherName for p in publishers"></select>
			<div>Selected Publishers: {{book.publisher}}</div>
		</nav>

	</div>
</div>