
<div data-ng-controller="bookCtrl">

	<!-- <nav>
		<ul class="pagination">
			<li><a href="pageBooks?pageNo=1">1</a></li>
			<li><a href="pageBooks?pageNo=2">2</a></li>
		</ul>
	</nav> -->

	<div class="form-group">
		<label>Search</label> <input type="text" data-ng-model="search"
			class="form-control" placeholder="search" autofocus>
	</div>

	<table class="table table-hover table-bordered" id="booksTable">
		<tr>
			<th>Book Title</th>
			<th>Authors</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>

		<tr data-ng-repeat="b in books | filter:search">
			<td>{{b.title}}</td>
			<!-- <td>{{b.authors[0].authorName}}</td> -->
			<td><li data-ng-repeat="author in b.authors">{{author.authorName}}</li></td>
			<td><button type="button" class="btn btn-md btn-success"
					data-ng-click="showEditBook(b.bookId)">Edit</button></td>
			<td><button type="button" class="btn btn-md btn-danger"
					data-ng-click="deleteBook(b.bookId)">Delete</button></td>
		</tr>
	</table>

	<button class="btn btn-info" onclick="window.location.href='#/addBook'">Add
		Book</button>

	<div id="myModal1" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>
</div>
