
<div data-ng-controller="genreCtrl">

	<!-- <nav>
		<ul class="pagination">
			<li><a href="pageGenres?pageNo=1">1</a></li>
			<li><a href="pageGenres?pageNo=2">2</a></li>
		</ul>
	</nav> -->

	<div class="form-group">
		<label>Search</label> <input type="text" data-ng-model="search"
			class="form-control" placeholder="search">
	</div>

	<table class="table table-hover table-bordered" id="genresTable">
		<tr>
			<th>Genre Name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>

		<tr data-ng-repeat="g in genres | filter:search">
			<td>{{g.genreName}}</td>

			<td><button type="button" class="btn btn-md btn-success"
					data-ng-click="showEditGenre(g.genreId)">Edit</button></td>

			<td><button type="button" class="btn btn-md btn-danger"
					data-ng-click="deleteGenre(g.genreId)">Delete</button></td>
		</tr>

	</table>

	<button class="btn btn-info"
		onclick="window.location.href='#/addGenre'">Add Genre</button>

	<div id="myModal1" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>
</div>
