
<div data-ng-controller="publisherCtrl">

	<nav>
		<ul class="pagination">
			<li><a href="pagePublishers?pageNo=1">1</a></li>
			<li><a href="pagePublishers?pageNo=2">2</a></li>
		</ul>
	</nav>

	<table class="table table-hover table-bordered" id="publishersTable">
		<tr>
			<th>Publisher Id</th>
			<th>Publisher Name</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>


		<tr ng-repeat="p in publishers">
			<td>{{p.publisherId}}</td>
			<td>{{p.publisherName}}</td>

			<td><button type="button" class="btn btn-md btn-success"
					data-ng-click="showEditPublisher(p.publisherId)">Edit</button></td>

			<td><button type="button" class="btn btn-md btn-danger"
					data-ng-click="deletePublisher(p.publisherId)">Delete</button></td>
		</tr>

	</table>

	<button class="btn btn-info"
		onclick="window.location.href='#/addPublisher'">Add Publisher</button>


	<div id="myModal1" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>
</div>
