
<div data-ng-controller="authorCtrl">

	<div class="form-group">
		<label>Search</label> <input type="text" data-ng-model="search"
			class="form-control" placeholder="search">
	</div>

	<table class="table table-hover table-bordered" id="authorsTable">
		<tr>
			<th>Author Name</th>
			<th>Books</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>

		<tr ng-repeat="a in authors | filter:search">
			<td>{{a.authorName}}</td>
			<td><li data-ng-repeat="book in a.books">{{book.title}}</li></td>

			<td><button type="button" class="btn btn-md btn-success"
					data-ng-click="showEditAuthor(a.authorId)">Edit</button></td>

			<td><button type="button" class="btn btn-md btn-danger"
					data-ng-click="deleteAuthor(a.authorId)">Delete</button></td>
		</tr>

	</table>

	<button class="btn btn-info"
		onclick="window.location.href='#/addAuthor'">Add Author</button>

	<div id="myModal1" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>
</div>
